html, body {
  height: 100%;
  width: 100%;
}

.out {
  display:table;
  background-color: blueviolet;
  width: 100%;
  height: 100%;
}

.mid {
  display: table-cell;
  vertical-align: middle;

}

.in {
  margin-left:auto;
  margin-right:auto;
  background-color: red;
  width: 200px;
  height: 200px;
}